#new-scan-title{
    font-size: 2rem;
    padding-left: 10vw;
    text-decoration-line: underline;  
}

#new-scan-box-form{
    padding-left: 10vw;
}

#new-scan-input{
    border-radius: 5px;
    width: 80%;
    height: 1.5rem;
}

#new-scan-form-input button{
    margin-top: 2vh;
    height: 2rem;
}