#result-title{
    margin-top: 3vh;
    text-align: center;
    font-size: 3vh;
}

#scan-result-header{
    /* background-color: lightblue; */
    margin: 0 5vw;
    /* border-radius: 2rem; */
    padding: 2vh 2vw;
}

#scan-result-title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
}

#scan-result-header-table{
    border: solid black 1px;
}

#scan-result-header-table tr td{
    padding:0 1rem;
    border: 1.5px solid #000000;
    text-align: left;
}