#scan-list-title{
    font-size: 2rem;
    padding-left: 10vw;
    text-decoration-line: underline;  
}

#scan-list-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
    margin: 0 10vw;
    border-radius: 10px;
    margin-bottom: 1vh;
}

#scan-list-box-item{
    width: 74vw;
    height: auto;
    display: grid;
    grid-template-columns: 10fr auto auto auto;
    align-items: center;
    padding: 0 3vw;
}

.scan-list-sizing{
    border-radius: 7px;
    margin: 1vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scan-list-box-item-1-1{
    background-color: rgb(0, 228, 11);
    width: 14vh;
}

#scan-list-box-item-1-2{
    background-color: rgb(240, 240, 0);
    width: 14vh;
}

#scan-list-box-item-2{
    background-color: rgb(16, 98, 153);
    width: 5vh;
}

#scan-list-box-item-3{
    background-color: rgb(155, 21, 21);
    width: 5vh;
}

#scan-list-box-item-2 img{ 
    height: 2.5vh;
}

#scan-list-box-item-3 img{ 
    height: 2.5vh;
}