{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>DBSF</title>

        <!-- CSS -->
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
       
        <nav>
            <div id="dropdown-menu">
                <input id="checkbox-menu" type="checkbox" name="menu"/>
      
                <label for="checkbox-menu" class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                
                <div id="dropdown-content">   
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                </div>
            </div>
            
            <img src="{% static 'images/logo.png' %}" alt="" id="logo">
            
            <div></div>
        </nav>
        

        <!-- Body -->
        {% block content %}
        {% endblock content %}

        <footer>
            <h1>&copyCopyright All rights reserved</h1>
        </footer>
      
    </body>
    
</html>