{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>DBSF</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/result.css' %}">
        <link rel="stylesheet" href="{% static 'css/newscan.css' %}">
        <link rel="stylesheet" href="{% static 'css/scanlist.css' %}">

        <!-- icon -->
    </head>
    <body>
        <script src="{% static 'js/base.js' %}">
        </script>
        <nav id="navbar">
            <div id="dropdown-menu">
                <input id="checkbox-menu" type="checkbox" name="menu" onclick="checkbox()"/>
      
                <label for="checkbox-menu" class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                
                <div id="dropdown-content">
                    <img src="{% static 'images/logo.png' %}" alt="" id="dropdown-logo" style=" width: 14vw; padding: 0 1vw;">   
                    <a href="/">Home</a>
                    <a href="/newscan">New Scan</a>
                    <a href="/scanlist">Scan List</a>
                    <div></div>
                </div>
            </div>

            <div id="dropdown-space">
            </div>

            <div id="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="" id="logo">
            </div>
            
            <div>
                
            </div>
        </nav>
        

        <!-- Body -->
        <div id="base-body">
            <div></div>
            <div>
        {% block content %}
        {% endblock content %}
            </div>
        </div>


        <footer>
            <p>&copy Copyright 2023 by DBSF. All rights reserved.</p>
        </footer>
      
    </body>
    
</html>