{% extends 'base.html' %}

{% block content %}
{% load static %} 
            <!-- Icons -->
            <div id="home-box-pic">
                <div><img src="{% static 'images/1.jpg' %}" id="home-center-pic"></div>
            </div>

            <!-- IP Address Input -->
            <div id="home-scan-btn">
                <!-- <form action="">
                    <div id="target-ip-box">
                        <label for="targetIP">Target IP Address:</label><br>
                        <input type="text" name="targetIP"><br>
                    </div>
                    <div id="target-ip-submit-box">
                        <input type="submit" value="Submit">
                    </div>
                    
                </form> -->

                <a href="/newscan">Click for New Scan</a>
            </div>

{% endblock content %}