{% extends 'base.html' %}

{% block content %}
    <div id="home-body">
        <div id="home-box-pic">
            <div>image here</div>
        </div>
        <div>
            <form action="">
                <div id="target-ip-box">
                    <label for="targetIP">Target IP Address:</label><br>
                    <input type="text" name="targetIP"><br>
                </div>
                <div id="target-ip-submit-box">
                    <input type="submit" value="Submit">
                </div>
                
            </form>
        </div>
    </div>
{% endblock content %}