{% extends 'base.html' %}

{% block content %}
    
            <!-- Icons -->
            <div id="home-box-pic">
                <div>image here</div>
            </div>

            <!-- IP Address Input -->
            <div>
                <form action="">
                    <div id="target-ip-box">
                        <label for="targetIP">Target IP Address:</label><br>
                        <input type="text" name="targetIP"><br>
                    </div>
                    <div id="target-ip-submit-box">
                        <input type="submit" value="Submit">
                    </div>
                    
                </form>
            </div>

{% endblock content %}