{% extends 'base.html' %}

{% block content %}
{% load static %} 
            <p id="new-scan-title">New Scan</p>
            <div id="new-scan-box-form">
                <form action="">
                    <div id="new-scan-form-input">
                        <p>Name:</p><input type="text" id="new-scan-input">
                        <p>Target IP:</p><input type="text" id="new-scan-input">
                        <p>Packet Request:</p><input type="text" id="new-scan-input">
                        <div><button type="submit">Start Scan</button></div>
                    </div>
                </form>
            </div>
{% endblock content %}